header {
    border-bottom: 0.063rem solid black;
    .header_container {
        max-width: 90rem;
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                margin-left: 1rem;
                cursor: pointer;
                padding-bottom: 1rem;
                &:hover {
                    border-bottom: 0.063rem solid black;
                }
            }
        }
    }
}
footer {
    text-align: center;
    padding: 5rem;
    border-top: 0.063rem solid black;
}